.venv/
venv/
env/
ENV/


__pycache__/
*.py[cod]
*$py.class


*.log
*.log.*


.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini


.vscode/
.idea/
*.sublime-project
*.sublime-workspace


.ipynb_checkpoints

*.sqlite3
*.db

*.swp
*.bak
*.tmp
*.~ 

.tox/
.nox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

build/
dist/
*.egg-info/
.eggs/


pip-log.txt
pip-delete-this-directory.txt

Pipfile.lock
poetry.lock

output/
results/
report/

*.csv
*.xls
*.xlsx
*.json
*.xml
*.parquet

.env
.env.*

secrets.json
apikeys.json

*.code-workspace

.streamlit/

.settings/
