# Entornos virtuales
.venv/
venv/
env/
ENV/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos de logs
*.log
*.log.*

# Archivos de configuración del sistema
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Archivos de configuración de editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos temporales de Jupyter Notebooks
.ipynb_checkpoints

# Bases de datos locales
*.sqlite3
*.db

# Archivos temporales del sistema
*.swp
*.bak
*.tmp
*.~ 

# Archivos de prueba
.coverage
.tox/
.nox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Archivos de documentación generados
build/
dist/
*.egg-info/
.eggs/


pip-log.txt
pip-delete-this-directory.txt

Pipfile.lock
poetry.lock

output/
results/
report/

*.csv
*.xls
*.xlsx
*.json
*.xml
*.parquet

.env
.env.*

secrets.json
apikeys.json

*.code-workspace

.streamlit/

.settings/
